# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 59145641a6d3cd2a6d554b3e71c317c2d5bbc47daec0e0e1a7635dda8db5165f59b3f871e353e31d0899f789b239bb83de7a7a5a0fdeb6a020af672d32e5f69b
  bitly_username: devlogin
  bitly_api_key: devsecret

# Copy this file to secrets.yml.sample whenever you change the test section
test:
  secret_key_base: 67251cd2e7c93a203decc86d4cd86e45b50cdc579178342e93eae7457f656b677929daefd23ebee785f64c261ff9add9fa2ec19503c798528886f7421d599007
  bitly_username: testlogin
  bitly_api_key: testkey

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
